body{
  font-family: Arial;
}

.gen .params input,
.menu input{
  width: 350px;
}

.params{
  margin-bottom: 10px;
}

.game-search{
  margin: 6px;
}

.game-entry{
  display: inline-block;
  margin: 10px;
  width: 120px;
  height: 170px;
  text-align: center;
}

.game-thumb{
  display: block;
  margin: 10px;
  cursor: pointer;
}

.game-caption{
  font-weight: bold;
  cursor: pointer;
}

.gen .progress-bar progress{
  width: 500px;
  height: 40px;
}

.gen .percent{
  width: 50px;
  text-align: center;
}

.hidden{
  display: none;
}

.title{
  display: none;
}